.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
  @media screen and (max-width: 400px) {
    height: 120vh;
    width: 100vw;
  }
  &:after {
    content: "";
    height: 900px;
    width: 900px;

    border-radius: 50%;
    position: absolute;
    bottom: -480px;
    right: 0px;
    z-index: -2;
    animation: homeAnim 15s infinite alternate;

    @media screen and (max-width: 650px) {
      height: 400px;
      width: 400px;
      bottom: -270px;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.1);
      }
    }
    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  .about-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    width: auto;
    height: 40%;
    overflow: hidden;
    .image__about {
      display: flex;
      align-items: center;
      padding: 3rem 2rem 2rem 3rem;
      position: absolute;
      @media screen and (max-width: 650px) {
        display: block;
        padding: 2rem 2rem 3rem;
      }
      a {
        font-size: 2rem;
        color: $color-2;
        padding: 10px 10px;
        background-color: $color-3;
        border-radius: 20%;
        text-justify: center;
        @media screen and (max-width: 400px) {
          background-color: $color-1;
        }
      }
    }
    .image {
      width: 20%;
      height: 20%;
      background-color: $color-3;
      border-radius: 50%;
      align-items: center;
      @media screen and (max-width: 750px) {
        width: 50%;
        height: 50%;
      }
    }
    .about-content {
      display: flex;
      user-select: none;
      justify-content: center;

      h1 {
        font-size: 1.7rem;
        position: relative;
        font-family: $font-2;
        color: $black;

        @media screen and (max-width: 650px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 3rem;
        }

        &:before {
          content: "";
          position: absolute;
          height: 225px;
          width: 225px;
          border-radius: 50%;
          border: 1px $color-2 solid;
          top: -40px;
          left: -180px;
          z-index: -1;
          animation: h1Anim 1.5s forwards ease;
          transform: scale(0);

          @media screen and (max-width: 850px) {
            height: 110px;
            width: 110px;
            left: -40px;
            top: -15px;
          }

          @keyframes h1Anim {
            to {
              transform: scale(1);
            }
          }
        }
      }
      h6 {
        font-size: 0.9rem;
        font-weight: 100;

        @media screen and (max-width: 650px) {
          font-size: 1rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 1rem;
        }
      }
    }
    .skills {
      display: grid;
      position: relative;
      &__container {
        row-gap: 2rem;
      }
      &__subtitle {
        color: $color-2;
        margin-bottom: 1.5rem;
      }
      &__name {
        display: inline-block;
        font-size: 0.875rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        padding: 0.25rem 0.5rem;
        background-color: $color-3;
        border-radius: 0.25rem;

        &:hover {
          background-color: $color-2;
          color: rgb(32, 5, 5);
        }
      }
    }
  }
}
